<?xml version="1.0"?>
<config>
    <modules>
        <Maestrano_Sso>
            <version>0.1.0</version>
        </Maestrano_Sso>
    </modules>
    <frontend>
        <routers>
            <sso>
                <use>standard</use>
                <args>
                    <module>Maestrano_Sso</module>
                    <frontName>sso</frontName>
                </args>
            </sso>
        </routers>
    </frontend>
    <global>
        <resources>
            <sso_setup>
                <setup>
                    <module>Maestrano_Sso</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sso_setup>
            <sso_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sso_write>
            <sso_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sso_read>
        </resources>
        <events>
            <adminhtml_block_html_before> <!-- identifier of the event we want to catch -->
                <observers>
                    <maestrano_sso_model_observer> <!-- identifier of the event handler -->
                        <type>model</type> <!-- class method call type; valid are model, object and singleton -->
                        <class>Maestrano_Sso_Model_Observer</class> <!-- observers class alias -->
                        <method>actionPreDispatchAdmin</method> <!-- observer's method to be called -->
                        <args></args> <!-- additional arguments passed to observer -->
                    </maestrano_sso_model_observer>
                </observers>
            </adminhtml_block_html_before>
        </events>
    </global>
</config> 