<?xml version="1.0"?>
<config>
    <modules>
        <Maestrano_Sso>
            <version>0.1.0</version>
        </Maestrano_Sso>
    </modules>
    <frontend>
        <routers>
            <sso>
                <use>standard</use>
                <args>
                    <module>Maestrano_Sso</module>
                    <frontName>sso</frontName>
                </args>
            </sso>
        </routers>
    </frontend>
    <global>
        <models>
            <admin>
                <rewrite>
                    <user>Maestrano_Sso_Model_User</user>
                </rewrite>
            </admin>
            <admin_resource>
                <rewrite>
                    <user>Maestrano_Sso_Model_Resource_User</user>
                </rewrite>
            </admin_resource>
        </models>
        <resources>
            <sso_setup>
                <setup>
                    <module>Maestrano_Sso</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sso_setup>
        </resources>
        <events>
            <adminhtml_block_html_before> <!-- identifier of the event we want to catch -->
                <observers>
                    <maestrano_sso_model_observer> <!-- identifier of the event handler -->
                        <type>model</type> <!-- class method call type; valid are model, object and singleton -->
                        <class>Maestrano_Sso_Model_Observer</class> <!-- observers class alias -->
                        <method>actionPreDispatchAdmin</method> <!-- observer's method to be called -->
                        <args></args> <!-- additional arguments passed to observer -->
                    </maestrano_sso_model_observer>
                </observers>
            </adminhtml_block_html_before>
        </events>
    </global>
</config> 