<?xml version="1.0"?>
<config>
    <modules>
        <Maestrano_Connec>
            <version>0.1.0</version>
        </Maestrano_Connec>
    </modules>
    <frontend>
        <routers>
            <connec>
                <use>standard</use>
                <args>
                    <module>Maestrano_Connec</module>
                    <frontName>connec</frontName>
                </args>
            </connec>
        </routers>
    </frontend>
    <global>
        <models>
            <connec>
                <class>Maestrano_Connec_Model</class>
                <resourceModel>connec_mysql4</resourceModel>
            </connec>
            <connec_mysql4>
                <class>Maestrano_Connec_Model_Mysql4</class>
                <entities>
                    <mnoidmap>
                        <table>connec_mnoidmap</table>
                    </mnoidmap>
                </entities>
            </connec_mysql4>
        </models>
        <resources>
            <connec_setup>
                <setup>
                    <module>Maestrano_Connec</module>
                </setup>
            </connec_setup>
            <connec_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </connec_write>
            <connec_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </connec_read>
        </resources>
        <helpers>
            <mnomap>
                <class>Maestrano_Connec_Helper</class>
            </mnomap>
        </helpers>
        <events>
            <!-- Customers -->
            <customer_save_after>
                <observers>
                    <maestrano_customer_save_after>
                        <class>Maestrano_Connec_Model_CustomersObserver</class>
                        <method>customerSaveAfter</method>
                    </maestrano_customer_save_after>
                </observers>
            </customer_save_after>
            <customer_delete_after>
                <observers>
                    <maestrano_customer_delete_after>
                        <class>Maestrano_Connec_Model_CustomersObserver</class>
                        <method>customerDeleteAfter</method>
                    </maestrano_customer_delete_after>
                </observers>
            </customer_delete_after>

            <!-- CustomerAddresses -->
            <customer_address_save_after>
                <observers>
                    <maestrano_customer_address_save_after>
                        <class>Maestrano_Connec_Model_CustomerAddressesObserver</class>
                        <method>customerAddressSaveAfter</method>
                    </maestrano_customer_address_save_after>
                </observers>
            </customer_address_save_after>

            <!-- Products -->
            <catalog_product_save_after>
                <observers>
                    <maestrano_catalog_product_save_after>
                        <class>Maestrano_Connec_Model_ProductsObserver</class>
                        <method>catalogProductSaveAfter</method>
                    </maestrano_catalog_product_save_after>
                </observers>
            </catalog_product_save_after>
            <catalog_product_delete_after>
                <observers>
                    <maestrano_catalog_product_delete_after>
                        <class>Maestrano_Connec_Model_ProductsObserver</class>
                        <method>catalogProductDeleteAfter</method>
                    </maestrano_catalog_product_delete_after>
                </observers>
            </catalog_product_delete_after>

            <!-- Inventory -->
            <sales_model_service_quote_submit_before>
                <observers>
                    <maestrano_sales_model_service_quote_submit_before>
                        <class>Maestrano_Connec_Model_InventoryObserver</class>
                        <method>subtractQuoteInventory</method>
                    </maestrano_sales_model_service_quote_submit_before>
                </observers>
            </sales_model_service_quote_submit_before>
            <sales_model_service_quote_submit_failure>
                <observers>
                    <maestrano_sales_model_service_quote_submit_failure>
                        <class>Maestrano_Connec_Model_InventoryObserver</class>
                        <method>revertQuoteInventory</method>
                    </maestrano_sales_model_service_quote_submit_failure>
                </observers>
            </sales_model_service_quote_submit_failure>
            <sales_order_item_cancel>
                <observers>
                    <maestrano_sales_order_item_cancel>
                        <class>Maestrano_Connec_Model_InventoryObserver</class>
                        <method>cancelOrderItem</method>
                    </maestrano_sales_order_item_cancel>
                </observers>
            </sales_order_item_cancel>
            <sales_order_creditmemo_save_after>
                <observers>
                    <maestrano_sales_order_creditmemo_save_after>
                        <class>Maestrano_Connec_Model_InventoryObserver</class>
                        <method>refundOrderInventory</method>
                    </maestrano_sales_order_creditmemo_save_after>
                </observers>
            </sales_order_creditmemo_save_after>

            <!-- Sales Orders -->
            <sales_order_place_after>
                <observers>
                    <maestrano_sales_order_place_after>
                        <class>Maestrano_Connec_Model_SalesOrderObserver</class>
                        <method>salesOrderPlaceAfter</method>
                    </maestrano_sales_order_place_after>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
</config> 